.card-box {
    background: #fff;
    padding: 20px 25px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* tombol */
.btn-input-salary, .btn-add {
    background: #A4C6F7;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 600;
}

.edit-btn, .delete-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.salary-display h2 {
    font-weight: 700;
}
